* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 640px;

    margin: auto;
    margin-bottom: 40px;
}

.content {
    margin: auto;
}

.content h1 {
    margin-top: 2%;
    margin-bottom: 3%;
}

.details {
    position: relative;

    width: 100%;
    height: auto;

    font-size: 13px;
    line-height: 20px;
    color: #5D5D5D;
}

/* синия линия сбоку сложенная */

.details:before {
    content: '';

    position: absolute;
    top: 0;
    left: -10px;

    width: 2px;
    height: 30px;
   
    background: #0179FF;
    margin-top: 10px;
}

/* синия линия сбоку развернутая */

.details[open]:before {
    content: '';
    
    position: absolute;
    top: 0px;

    width: 2px;
    height: 97%;

    background: #0179FF;
    margin-top: 10px;
}

.details__wrap {
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.details__wrap h3 {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;

    padding: 20px 0px 10px 20px;
}

.details__wrap p {
    font-size: 13px;
    line-height: 20px;

    padding: 0px 40px 20px 20px;
}

.details__wrap p a {
    text-decoration: none;
    border-bottom: 1px solid #0179FF;
}

.details__wrap img {
    width: 80%;

    margin-left: 10%;
    margin-bottom: 5%;
}

.details summary::-webkit-details-marker {
    display: none
}

.details summary {
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.details[open] summary {
    box-shadow: none;
}

/* заголовок */ 

summary {
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

    color: black;
    font-size: 13px;
    line-height: 15px;

    padding: 15px 15px;
}

/* стрелка у заголовка */

summary:before {
    content: '';
    border: solid rgba(0, 0, 0, 0.65);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-right: 10px;
    width: 1px;
    height: 1px;
    transform: rotate(-45deg);
    transition: all linear .3s;
}

/* стрелка у заголовка поворот вниз */

.details[open] summary:before {
    transform: rotate(45deg);
}

