* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
}


input, button {
    border: none;
    outline: none;
    cursor: pointer;
}

