.update-form {
    background: #1F1F2F;
    padding: 30px 20px 40px 20px;
    box-sizing: border-box;
}

.form {
    margin-top: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

.input:last-child {
    background: #F92251;
    color: white;
}

.input[placeholder="Name"], .input[placeholder="E-Mail"] {
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 35px;
}

.input[placeholder="Name"] {
    background-image: url(../images/name.svg);
}

.input[placeholder="E-Mail"] {
    background-image: url(../images/email.svg);
}