.earphones {
    margin-bottom: 70px;
}

.base {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.block-earphone {
    background: #F8F8F9;

    width: 400px;
    height: 560px;
    
    margin: 20px;

    position: relative;
    list-style-type: none;
}

img.earphone1 {
    width: 230px;
    height: 480px;
    
    position: absolute;
    top: 40px;
    left: 120px;
}

img.earphone2 {
    width: 300px;
    height: 430px;

    position: absolute;
    top: -20px;
    left: 55px;
}

img.earphone3 {
    width: 230px;
    height: 425px;

    position: absolute;
    top: 100px;
    left: 125px;
}

button.earphone {
    background: #000000;
    color: #fff;
}

.block-earphone .action-box .price {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #9D8220;
}

.name {
    position: absolute;
    top: 330px;
    left: 50px;

    font-size: 50px;
    line-height: 55px;
    color: #2B2835;
}


.description {
    position: absolute;
    top: 390px;
    left: 50px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #030303;
    width: 270px;
}

.block-earphone .action-box {
    position: absolute;
    top: 480px;
    left: 50px;
}
