/* весь внешний блок */

.base {
    width: 970px;
    height: 630px;
    margin: auto;
    margin-top: 15px;
    
    border: 1px solid #C6C6C5;
    box-sizing: border-box;

    padding: 40px 20px;
    
}

/* весь блок с именами  */

.full-name {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 15px;
}

/* маленький заголовок в 2х верхних блоках */

.text {
    width: 66px;
    height: 17px;
    margin-bottom: 10px;
    font-size: 14px;
}

/* блок с инпутами */

.name {
    display: flex;
}

/* блоки-инпуты */

input.input-name {
    padding: 10px 40px 10px 15px;
    margin-right: 30px;
}

input.input-name:first-child {
    padding-right: 10px;
}

.input-name:last-child {
    margin-right: 0;
}

/* блок с тайтлом и 1 инпутом */

.title-base {
    margin: auto;
    width: 100%;
    height: auto;
    margin-top: 40px;
}

/* длинный инпут */

.input_title-base {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    
    width: 98%;
}

/* весь блок с адресом */

.business-address {
    width: 100%;
    height: auto;

    margin: auto;
    margin-top: 30px;
}

/* заголовок бизнес */

.title_business {
    width: 100%;
    height: auto;
    
    color: #007AFF;
    text-transform: uppercase;
   
    margin-bottom: 15px;
    
}

/* длинная линия */

.business-address .line {
    width: 100%;
    height: 4px;
    opacity: 0.5;
    margin-bottom: 20px;
}

.parent-address {
    width: 100%;
    height: 240px;
}

/* блоки с адресом */

.address {
    float: left;
    width: 32%;
    height: auto;
    margin-right: 18px;
}

/* заголовок каждого блока с адресом */

.detailed-address {
    width: 100%;
    height: auto;
    
    font-size: 14px;
    margin-bottom: 10px;
}

/* 2 левых блока */

.city, .phone {
    margin-right: 0;
}

/* инпуты адресов */

input.address {
    width: 100%;
    height: auto;

    box-sizing: border-box;
    
    padding: 10px 10px;
    margin-bottom: 10px;
}

.validate-text {
    width: 100%;
    height: auto;
    font-size: 14px;
}

.action-box {
    width: 90%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* кнопка submit */

button.submit {
    background-color: #007AFF;
    color: #FFFFFF;
    padding: 11px 13px;
    font-size: 14px;
}
