footer {
    background: #2B2835;
    color: #fff;
    position: relative;
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 1240px;
    padding-top: 55px;
    padding-bottom: 50px;
    margin: auto;

}

.products, .support, .company {
    margin-right: 20px;
    height: 240px;
    width: auto;
    
}

.footer-block {
    margin-top: 0;
    margin-right: 90px;

}

.footer-title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 5px;
}

.footer-links {
    font-size: 13px;
    opacity: 0.5;
    line-height: 25px;
    letter-spacing: 0.5px;
}

.status {
    font-size: 16px;
    opacity: 0.3;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    padding-bottom: 20px;

}

.footer .logo {
    margin-right: 100px;
}

.socials {
    display: flex;
}

.follow-links {
    margin-right: 15px;
    margin-top: 40px;
}

.follow-links:last-child {
    margin-right: 0;
}