header {
    width: 100%;
    height: 145px;
}

.header {
    width: 90%;
    height: 100px;
    background: #FFFFFF;
    margin: auto;
}

.logo {
    position: absolute;
    width: 170px;
    height: 25px;
    left: 75px;
    top: 40px;
}

.logo img {
    width: 100%;
    height: auto;
}

.search {
    position: absolute;
    width: 400px;
    height: 40px;
    left: 378px;
    top: 33px;
    box-sizing: border-box;
}

input[type="search"] {
    width: 400px;
    height: 40px;
    padding-left: 14px;
    padding-top: 11px;
    padding-bottom: 12px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
}

input.search-btn {
    position: absolute;
    right: 0;
    top: 0;

    font-size: 14px;
    padding: 11px 13px;

    border: none; 
    background:  #007AFF;
    color: white;

    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
}

button.btn {
    background: none;
    
    font-size: 14px;
    line-height: 17px;
    
    border: 1px solid #757575;
    color: #757575;
    
    padding: 12px 20px;
}

.login {
    position: absolute;
    top: 33px;
    left: 1022px;
}

.sign {
    position: absolute;
    top: 33px;
    left: 1144px;
}

/* .icons {
    border: none;
    background: none;
} */

button.shortlist {
    width: 30px;
    height: 25px;
    position: absolute;
    top: 42px;
    left: 1271px;
}

img.shortlist {
    width: 100%;
    height: auto;
}

button.cart {
    position: absolute;
    top: 38px;
    left: 1326px;
    width: 36px;
    height: 30px;
}

img.cart {
    width: 100%;
    height: auto;
}

.sub-header {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 12px 0;
}

.links_sub-header {
    width: auto;
    height: 18px;
}

.links_sub-header a {
    margin-right: 35px;
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
    color: #737270;
}
