.title {
    width: 230px;
    height: 30px;

    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #000000;
}

.menu {
    text-align: center;
    align-items: center;
    width: 930px;
    height: 20px;
    display: flex;
    margin: auto;
}

.information {
    width: 200px;
    height: 20px;
}

div.contact a{
    color: #007AFF;
}

.information a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #878786;
    text-decoration: none;
}